@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Identity App</h1>
    <p class="lead">ASP.NET Application that implement MVC Login, Logout, User and Admin Pages.</p>
    <p>
        My task is to implement a MVC application holding anonymous, user and admin pages + login and logout. <br/>
        <ul>
            <li>In Visual Studio create a new ASP.NET MVC application with authentication enabled (with individual user accounts).</li>
            <li>Enable the Entity Framework migrations for the ApplicationDbContext.</li>
            <li>In the Seed() method in your DB migration class add some code to create "Administrator" role and user admin@admin.com in this role.</li>
            <li>You should already have HomeController and AccountController. Add also these controllers:
                 <ul>
                    <li>UserController – accessible for authorized users only (after login). Create a view behind the default controller action and show a message "For users only: welcome " + username.</li>
                     <li>AdminController – accessible for administrator users only (after admin login). Create a view behind the default controller action and show a message "For administrators only: welcome " + username.</li>
                </ul>
            </li>
            <li>The home page and login page should be accessible anonymously.</li>
            <li>The user page should be accessible for all logged-in users</li>
            <li>The admin page should be accessible for all logged-in administrators.</li>
        </ul>

    </p>
</div>

